* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

.wrapper {
    height: 100vh;
}

.wrapper-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #1d0fe9;
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    padding: 30px;
    background: #2a2a2a;
    overflow: auto;
}

.wrapper-bottom > .item {
    width: calc(100% / 4 - 40px);
    text-align: center;
    font-size: 25px;
    margin:  20px;
    background: #38e2d2;
    border-radius: 20px;
    padding: 20px;
}
